<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
  <script src="{{ url_for('static',filename='js/vendor/modernizr-2.8.3.min.js')}}"></script>
</head>


<style>
.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 150%;
}
</style>
<body>

  <div class="header-container">
    <header class="wrapper clearfix">
      <!-- <h1 class="title">{{title}}</h1> -->


      <nav class="right">
        <ul>
          <a href="{{ url_for('login') }}">Login</a>
          <a href="/logout">Logout</a>
        </ul>
      </nav>


      <nav class="left">
        <ul>

          <li><a href="/">Home</a></li>
          <li><a href="{{ url_for('display_posts') }}">All Posts</a></li>
          <li><a href="{{ url_for('create_newpost') }}">New Post</a></li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="main-container">
    <div class="main wrapper clearfix">
      {% block content %}
      {% endblock %}
    </div>
    <!-- #main -->
  </div>
  <!-- #main-container -->

  <div class="footer-container">
    <footer class="wrapper">
      <p>Copyright (c) 2017 LaunchCode LC101 Project All Rights Reserved.</p>
    </footer>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>

</html>
